html {
    background-color: #202124;
    color: #fff;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    justify-content: space-between;
    padding-right: 50px;
}

#container{
    width: 650px;
    height: 650px;
    display: grid;
    border: 0.1px solid black;
}

.divs {
	outline: 0.1px solid gray;
    background-color: #fff;
}

.divs.active {
    background-color: black;
}

.option-btn {
    width: 70px;
    height: 30px;
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.option-btn:hover {
    border: 1px solid #fff;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a5a5a5;
}

.github-button {
    width: 26px;
    height: 25px;
    background-image: url("./github-icon.svg");
    background-size: cover;
    background-color: transparent;
    border: none;
    margin-left: 10px;
    cursor: pointer;
    transition: transform .5s ease-in-out;
}

.github-button:hover {
    transform: rotate(360deg);
}